
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

div[role="tooltip"] {
  top: -60px !important;
  justify-content: right !important;
}

/* Outline for text, idk i thought it would be cool but it hurts my eyes */
/*
.App-header h1 {
  font-size: calc(30px + 2vmin);
  color: white;
  -webkit-text-stroke: 2px darkslategrey;
}
*/
/*
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

  
}
*/
.general-div {
  padding: 10px;
}
.general-buttons {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  padding: auto !important;
}
.general-input-box{
  margin: 5px;
  border: 2px black;
  padding: 5px 10px;
  transition-duration: .5s;
  transition-property: box-shadow, transform;
}
.general-input-box:hover{
  box-shadow: 0 0 5px black; 
}

.title-header img {
  width: 70px;
  height: 70px;
  background: #555;
  float: left !important;
  position: left !important;
  justify-content: left !important;
  align-items: left !important;
  padding: 2px;
  margin: 2px;
}

.container {
  display: flex;
  /*flex-direction: row;*/
  flex-wrap: wrap;
  justify-content: space-evenly left;
  align-items: center;
  background-color:#e0e0e0;
  border: 7px solid #f9f9f9;
  margin: 0px auto;
  width: 50%;
  height: 100%;
  padding: 10px;
  padding-top: 5%;
  border-radius: 10px;
  column-gap: 20px;
  position: relative;
}

.add-device-button-div {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  display: initial !important;
  flex-wrap: initial !important;
  justify-content: initial !important;
  align-items: initial !important;
  border: initial !important;
  margin: initial !important;
  width: initial !important;
  height: initial !important;
  column-gap: initial !important;
}

.container 

.item-box {
  box-sizing: border-box;
  width: calc(50% - 10px);  height: auto;
  background-color: #ffffff;
  border: 1px solid #000; 
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition-duration: 0.2s;
  transition-property: box-shadow, transform;
}
.item-box:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  transform: scale(1.01); 
}

.progress-bar-container{
  width: 40%;
  margin: 10px;
  border: 10px;
  padding: auto;
}

.item-device-homepage{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
  font-weight: 600;
}

ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

/* NavBar css */
li a {
  color: inherit;
  padding: 14px 16px;
  text-decoration: none;
}

li img {
  height: auto;
  width: 70px;
  padding: 0px 10px;
}

.title-header2{
  padding-top: 2%;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  color: rgb(235, 235, 235);
  font-size: xx-large;
  background-color: rgb(46, 46, 46) !important;
  /* width: 100%; */
  padding: 0.5em 1em;
  height: 90px;
  /* position: fixed; */
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

/* replaced above for navBar stuff */
.title-header{
  padding-top: 2%;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  color: rgb(235, 235, 235);
  font-size: xx-large;
  background-color: rgb(46, 46, 46) !important;
  width: 100%;
  padding: 0.5em 1em;
  display: flex;
  height: 90px;
  /* position: fixed; */
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  z-index: 1;
}

#subtitle-name{
  padding: 2%;
  padding-top: 8%;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 650;
  font-size: xx-large;
  color: rgb(46, 46, 46);
}

.test-list-data-table{
  margin-top: 4%;
}

.error-page-style {
  margin:auto;
  padding: 100px;
  text-align: center;
  width: auto;
  height: auto;
  background-color: black;
  color: darkred;

}

.button-shadow-effects:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

#add-device-button {
  background-color: rgb(42, 124, 247) !important;
  margin: 5px;
  border: 2px black;
  padding: 5px 10px;
  transition-duration: .5s;
  transition-property: box-shadow, transform;
}
#add-device-button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  transform: scale(1.01) !important; 
  background-color: rgb(42, 124, 247) !important;
}
#add-device-input {
  border: 10px black;
}
#add-device-input:hover {
  box-shadow: 0 0 5px black;
}

#search-for-device{
  margin: auto;
  border: 10px black;
  padding: 14px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-for-device-button{
  margin: 5px;
  border: 2px black;
  padding: 5px 10px;
  transition-duration: .5s;
  transition-property: box-shadow, transform;
  background-color: rgb(42, 124, 247) !important;
}
#search-for-device-button:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  transform: scale(1.01) !important; 
  background-color: rgb(42, 124, 247) !important;
}
#search-for-device-input:hover{
  box-shadow: 0 0 5px black; 
}

.delete-device-button {
  padding: 3px;
  margin: 4px;
  margin-left: 10px;
  background-color: rgb(160, 28, 28) !important;
  transition-property: box-shadow, transform;
}
.delete-device-button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  transform: scale(1.01) !important; 
  background-color: rgb(199, 35, 35) !important;
}
.update-device-button {
  padding: 3px;
  margin: 4px;
  background-color: rgb(28, 108, 230) !important;
  transition-property: box-shadow, transform;
}
.update-device-button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  transform: scale(1.01) !important; 
  background-color: rgb(42, 124, 247) !important;
}

.device-number-div {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: large;
  color: rgb(46, 46, 46);
  padding-top: 10px;
  padding-bottom: 50px;
}

.signup-page-content {
  margin: auto;
  padding: 10px;
  border: 5px solid black;
  justify-content: center;
  align-items: center;
  /* position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%); */
  background-color: rgb(175, 175, 175) !important;
  width: fit-content;
}
.signup-button {
  padding: 3px;
  margin: 3px;
  background-color: rgb(44, 44, 44) !important;
  border: 0 !important;
  transition-property: box-shadow, transform;
}
.signup-button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  transform: scale(1.07) !important; 
  background-color: rgb(42, 124, 247) !important;
}

